{% macro menu_links(links, options) %}
    {% for key, link in links %}
        <li class="{{options['main-li-class']}} {% if options.currentURL == link.path|page %}{{options['active-class']}}{% endif %}">
        	{% if link.text %}
            <a href="{{ link.path|page }}" class="">{{ link.text }}</a>
            {% else %}
            	<a href="#">{{ key }}</a>
                <ul class="{{options['sub-ul-class']}}">
                    {{ _self.menu_links(link, options) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

<ul class="{{__SELF__.options['main-ul-class']}}">
    {{ _self.menu_links(__SELF__.options.links, __SELF__.options) }}
</ul>
